.nav {
    z-index: 3;

    &__config {
        display: flex;
        justify-content: flex-end;
        justify-items: flex-end;
    }

    &__icon {
        z-index: 3;
        margin: 1em 1em;
        color: #ffffff;
        cursor: pointer;
    }
}