.btn {
    border-radius: 5px; 
    transition: background .5s ease, color .5s ease;
    
    
    &--primary {

        &:hover {
            background: #ffffff;
            color: #000000;
            font-weight: bold;
        }
    }
}
