.toast {
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 50%;
    z-index: 1;
    padding: 1rem;
    border-radius: .25rem;
    margin: 1rem;
    transform: translate(-50%, 0%);

    @include respond(phone) {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        margin: 1rem 0;
        width: 100%;
    }

    &--error {
        background: #fcbfc4;
        color: #721c24;
        border-color: #ec8f98;
        border-left: 3px solid red;
    }

    &--success {
        background: #D4EDDA;
        color: #155724;
        border-color: #c3e6cb;
        border-left: 3px solid green;
    }
}