@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    font-family: 'Sulphur Point', sans-serif;
}

header {
    text-align: center;
    margin: 2rem 0;
}

.heading {
    font-size: 1.6rem;

    &--primary {
        font-size: 3rem;
    }
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}