@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Sulphur Point', sans-serif;
}

header, main {
    text-align: center;
    margin: 2rem 0;
}

.heading {
    font-size: 1.6rem;

    &--primary {
        font-size: 3rem;
    }
}

.game {
    &__display {

    }

    &__config {

    }

    &__options {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    }
}

.option {
    // display: flex;
    // flex-flow: column;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}